:root {
    --FGC: #3C3836;
    --BGC: #FBF1C7;
    --RED: #CC241D;
    --GRN: #98971A;
    --BLU: #458588;
    --YLW: #D79921;
    --PPL: #B16286;
    --AQU: #689D6a;
    --WHT: #FCFDFC;
}

[theme="dark"] {
    --FGC: #EBDBB2;
    --BGC: #282828;
    --RED: #CC241D;
    --GRN: #98971A;
    --BLU: #458588;
    --YLW: #D79921;
    --PPL: #B16286;
    --AQU: #689D6a;
    --WHT: #FCFDFC;
}

body {
    background-color: var(--BGC);
    color: var(--FGC);
    font-family: sans-serif;
    text-align: center;
}

header, section, footer {
    position: relative;
    display: block;
}

h1, h2, h3 {
    margin: 0.25rem;
}

hr {
    border: 1px solid var(--AQU);
}

textarea {
    background-color: var(--FGC);
    color: var(--BGC);
    resize: none;
    border: none;
    display: flex;
    width: 94%;
    margin-left: 3%;
}

textarea::placeholder {
    color: var(--PPL);
}

.button {
    border: none;
    color: var(--FGC);
    background-color: var(--YLW);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.disabled {
    display: none;
}

#loading {
    display: none;
    position: absolute;
    top: 10.5%;
    left: 50%;
    margin-left: -125px;
    color: black;
    background-color: var(--WHT);
}

.visualizations > div > h3 {
    display: inline;
    padding: 0 0.5rem;
}

.visualizations > div > hr {
    width: 50%;
    border: 1px solid var(--GRN);
}

#n_gram {
    background-color: var(--WHT);
    height: 2rem;
    width: 2.5rem;
    font-size: 1rem;
}

.bleu {
    position: relative;
}

#bleu_score_header {
    display: block;
}

#frequency_header {
    display: block;
}

.heatmap {
    display: inline-block;
    margin: 1rem 1rem 0;
}

#source_n_gram {
    height: 18rem;
    width: 18rem;
    background-color: var(--RED);
}

#abstract_n_gram {
    height: 18rem;
    width: 18rem;
    background-color: var(--BLU);
}

#pos_frequency {
    height: 18rem;
    width: 38rem;
}

em {
    color: var(--FGC);
    font-size: 1rem;
    margin: 0.15rem 0.5rem 0;
}

em#icon_sun {
    display: none;
}

.name_wrapper {
    position: absolute;
    top: 40%;
    left: 2%;
}

.theme_switch_wrapper {
    position: absolute;
    top: 30%;
    right: 2%;
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    height: 1.5rem;
    width: 2.5rem;
}

.slider {
    background-color: var(--FGC);
    cursor: pointer;
    position: absolute;
    transition: .4s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input:checked + .slider {
    background-color: var(--FGC);
}

.slider:before {
    background-color: var(--YLW);
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    position: absolute;
    transition: .4s;
}

input:checked + .slider:before {
    transform: translateX(1rem);
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 50%;
}
