<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">
    <head>
        <title>Cyan Text Abstraction Tool</title>
        <link rel="shortcut icon" href="../static/img/favicon.ico" />
        <link rel="stylesheet" href="../static/css/application.css" />
        <script src="https://kit.fontawesome.com/9cb02563c9.js" crossorigin="anonymous"></script>
        <script src="../static/scripts/application.js"></script>
    </head>

    <body>
        <header>
            <div class="title_wrapper">
                <h1>Cyan</h1>
                <h3>Text Abstraction Tool</h3>
            </div>
            <div class="name_wrapper">
                <em>Cyrus Vattes [001237324]</em>
            </div>
            <div class="theme_switch_wrapper">
                <em id="icon_sun"><i class="fas fa-sun"></i></em>
                <em id="icon_moon"><i class="fas fa-moon"></i></em>
                <label for="checkbox" class="theme-switch">
                    <input type="checkbox" id="checkbox"/>
                    <div class="slider round"></div>
                </label>
            </div>
        </header>

        <section>
            <hr>
            <label for="text_input"></label>
            <textarea id="text_input" name="text_input" rows="12" autofocus placeholder="Enter text to summarize."></textarea>

            <button class="button" id="summarize">Summarize</button>
            <button class="button" id="reset">Clear</button>

            <label for="text_output"></label>
            <textarea id="text_output" name="text_output" rows="8" readonly></textarea>
            <hr>
        </section>

        <div id="loading">
            <p>Summarizing...</p>
            <img src="../static/img/loading.gif" alt="Please Wait"/>
            <p>This may take a while</p>
        </div>

        <section class="visualizations">
            <div class="size">
                <h3>Source: <span id="source_count">0</span></h3>
                <h3>Abstract: <span id="abstract_count">0</span></h3>
                <h3>Size Reduction: <span id="reduction_percent">0</span>%</h3>
                <hr>
            </div>

            <div class="n_gram">
                <h3>N-gram: <label for="n_gram">
                    <select name="n_gram" id="n_gram">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </label></h3>
                <hr>
            </div>

            <div class="bleu disabled" id="bleu">
                <h3 id="bleu_header">
                    BLEU Score: <span id="bleu_score">0</span>
                </h3>
                <hr>
            </div>

            <div class="rouge disabled" id="rouge">
                <h3 id="rouge_header">
                    ROUGE Score (F1): <span id="rouge_score">0</span>
                </h3>
                <div class="heatmap">
                    <img id="rouge_heatmaps" src="#" alt="Rouge Calculations">
                </div>
                <hr>
            </div>

            <div class="top_n_grams disabled" id="top_n_grams">
                <div class="heatmap">
                    <img id="source_n_gram" src="#" alt="Source N-Grams">
                    <p>Source N-Gram Count</p>
                </div>
                <div class="heatmap">
                    <img id="abstract_n_gram" src="#" alt="Abstract N-Grams">
                    <p>Abstract N-Gram Count</p>
                </div>
                <hr>
            </div>

            <div class="disabled" id="freq">
                <h3 id="freq_header">POS Frequency</h3>
                <div class="heatmap">
                    <img id="pos_frequency" src="#" alt="POS Frequency">
                </div>
                <hr>
            </div>
        </section>
    </body>
</html>